---
interface Props {
  position: string;
  size: number;
  mobileSize: number;
  color: string;
  icon: string;
  title: string;
}

import Icon from "astro-iconify";

const { position, size, mobileSize, color, icon, title } = Astro.props;
---

<div
  class="!absolute -translate-x-2/4 -translate-y-2/4 transition-transform hover:z-50 hover:scale-110"
  class:list={[position]}
>
  <div
    class="tooltip flex aspect-square items-center justify-center rounded-full p-4 shadow-lg hover:shadow-2xl group-hover:[animation-play-state:paused] md:motion-safe:animate-counter-spin-slow"
    class:list={[
      `h-${mobileSize} w-${mobileSize}`,
      `sm:h-${size} sm:w-${size}`,
      color,
    ]}
    data-tip={title}
  >
    <Icon name={icon} class="h-full w-full" />
  </div>
</div>
